/*                      Modal Styling                    */
.modal_close_btn {
    background: none;
    border: none;
    font-size: 27px;
    font-weight: 500;
    color: grey;
    font-family: sans-serif;
}

.note_title_field {
    height: 35px;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    display: block;
}

.note_descrip_field {
    margin-top: 25px;
    height: 85px;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    display: block;
}

.is_import_checkbox {
    margin: 25px 8px 10px 3px;
    width: 15px;
    height: 15px;
}

.is_Important {
    font-size: 18px;
}