.notes_main_div {

    margin: auto;
    width: 95%;
    background-color: aqua;
    text-align: center;

}

.note_div {
    background-color: blue;
    padding: 40px;
    width: 22%;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin: 15px;
}

li {
    list-style: none;
    display: inline;
}