.notes_main_div {
    margin: auto;
    width: 95%;
    text-align: center;
}

.notes_main_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    height: 13em;
    width: 13em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 5px;
    position: relative;
    background-color: #feff9c;
    transform: rotate(-6deg);
    transition: all ease 0.3s;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

.note:nth-child(even) {
    transform: rotate(4deg);
    background-color: #7afcff;
    position: relative;
    top: 5px;
}

.note:nth-child(3n) {
    transform: rotate(-3deg);
    background-color: rgb(240, 134, 169);
    position: relative;
    top: -1px;
}

.note:hover {
    transform: scale(1.4);
    z-index: 5;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}



.remove_note_btn {
    background: none;
    border: none;
    color: grey;
    font-size: 26px;
    font-weight: 500;
    position: absolute;
    top: -8px;
    right: -2px;
}

.note_title {
    font-size: 23px;
    padding-top: 20px;
}


@media (max-width:450px) {
    .note {
        height: 10em;
        width: 10em;
    }
}